<p id="notice"><%= notice %></p>

<div class="row">
  <!-- Left Form -->
  <div class="col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">Panel Primary</div>
      <div class="panel-body">
    <h1>Left Store Form</h1>
   <%= simple_form_for @product do |f| %>
    <%= f.input :name, required: true, placeholder: "Write your full-name" %>
    <%= f.input :description, hint: "Be short no more less than 100 words." %>
    <%= f.input :price, input_html: { value: '30'} %>
    <%= f.input :color, collection: ["red","green","blue","yellow","pink","Salmon pink","black","orange"] %>
    <%= f.input :quantity %>
    <%= f.submit "Create Product" %>
     <% end %>
   </div>
  </div>
  </div>
 <!-- Right Form -->
  <div class="col-md-6">
    <div class="panel panel-success">
      <div class="panel-heading">Panel Success</div>
      <div class="panel-body">
           <%= simple_form_for @product, html: { class: 'form-inline' } do |f| %>
    <%= f.input :name, label:false, required: true, placeholder: "Write your full-name" %>
    <div class="input-group">
      <div class="input-group-addon">$</div>
          <%= f.input :price, label:false, input_html: { value: '30'} %>
    </div>
    </br></br>
     <%= f.submit "Create Product" %>
     <% end %>
      </div>
    </div>
  </div>
</div>

